<table>
    <thead>
        {% for form in Formset.forms %}
            {% if forloop.first %}
                {% for field in form %}
                    <th>{{ field.label_tag }}</th>
                {% endfor %}
            {% endif %}
    </thead>
    <tbody>
        <form action="STComeBack/" method="post">
            <tr>
                {% csrf_token %}
                {% for field in form %}
                    <td>{{ field }}</td>
                {% endfor %}
            <tr>
        {% endfor %}
            <tr>
                <td><input type="submit" name="back" value="back" /></td>
            </tr>
        </form>
    </tbody>
</table>